.App {
  text-align: center;
}

.App-header {
  background-color: #001318;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  background-image: linear-gradient(#1ac4f3, #05485a);
  padding: 2em;
  box-shadow: 0 4px 8px 0 #04232c;
  border-radius: 12px;
  /* max-height: 15em; */
}

.search-bar {
  background-color: #ffffffbd;
  border-radius: 8px;
  max-height: 50px;
}

.search {
  background-color: #ffffff00;
  /* border-radius: 6px; */
  border: none;
  padding: 5px;
  color: #2c6272;
  margin: 3px 1px 5px 7px;
  max-width: 12em;
}

input[type=text]:focus {
  outline: none;
}

.fa-magnifying-glass {
  height: 10px;
  width: auto;
  margin: 17px 10px 0 10px;
  color: #2c6272;
}

.w-img {
  height: 60px;
  /* max-width: 100px; */
}

.temp {
  font-size: 45px;
  font-weight: 500;
}

.loc {
  font-size: 20px;
  margin-bottom: 50px;
}

.weather-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.weather-data .col {
  font-size: 14px;
  display: flex;
  width: 50%;
  margin: 1px;
}



.weather-data .col span {
  display: block;
  font-size: 12px;
}

.weather-data .col .data {
  text-align: left;
}

.weather-data .col i {
  width: 30px;
  margin-top: 34px;
  margin-right: 10px;

}
